.card1{ width: 50px;
    border: 5px solid orange;
    background-color: bisque;
    padding: 80px;
    margin: 50px;

}
.card2{ width: 50px;
    border: 5px solid #00aeff;
    background-color: rgb(128, 179, 17);
    padding: 80px;
    margin: 50px;

}
.card3{ width: 50px;
    border: 5px solid rgb(183, 27, 105);
    background-color: rgb(250, 196, 255);
    padding: 80px;
    margin: 50px;

}
.card4{ width: 50px;
    border: 5px solid orange;
    background-color: bisque;
    padding: 80px;
    margin: 50px;
}
.card5{ width: 50px;
    border: 5px solid rgb(255, 0, 0);
    background-color: rgb(247, 255, 196);
    padding: 80px;
    margin: 50px;
}
.card6{ width: 50px;
    border: 5px solid rgb(73, 50, 8);
    background-color: rgb(23, 183, 211);
    padding: 80px;
    margin: 50px;
}
.card7{ width: 50px;
    border: 5px solid rgb(52, 7, 59);
    background-color: rgb(196, 226, 255);
    padding: 80px;
    margin: 50px;
}
   

